<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Affairs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">DAILY AFFAIRS</p>
            </div>
        <ul class="nav navbar-expand navbar-nav navbar-right">
            <li class="nav-item active"><a href="/">HOME</a></li>
            <li class="nav-item"><a href="/about">ABOUT</a></li>
            <li class="nav-item"><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>


    <div class="container">

    